Repository Lohyna-international/lohfinder, pull requests merged in 2021-12, with the labels that each got.

#13 PubSub layer for event service
  services/eventservice/Cargo.lock
  services/eventservice/Cargo.toml
  services/eventservice/src/data_manager.rs
  services/eventservice/src/main.rs
  services/eventservice/src/pstypes.rs
  services/eventservice/src/pubsub_client.rs
  services/eventservice/src/pubsub_tests.rs
  services/eventservice/src/tests.rs
  services/eventservice/src/types.rs
Labels: event service

#16 Event application service
  services/userappservice/Cargo.lock
  services/userappservice/Cargo.toml
  services/userappservice/Dockerfile
  services/userappservice/src/data_manager.rs
  services/userappservice/src/main.rs
  services/userappservice/src/pubsub_client.rs
  services/userappservice/src/tests.rs
  services/userappservice/src/types.rs
  services/userappservice/start.sh
Labels: user app service

#15 Implement PubSub layer for user service
  services/user_service/callbacks.py
  services/user_service/constants.py
  services/user_service/database_connector.py
  services/user_service/main.py
  services/user_service/mocker.py
  services/user_service/publisher.py
  services/user_service/pubsub.py
  services/user_service/subscriber.py
  services/user_service/test_user_service.py
Labels: user service
