Repository Lohyna-international/lohfinder, pull requests merged in 2021-11, with the labels that each got.

#9 Templates for pull request and readme are added. Feel free to use
  README.md
  docs/pull_request_template.md
Labels: documentation

#11 Data management for event service
  .gitignore
  services/README.md
  services/eventservice/Cargo.lock
  services/eventservice/Cargo.toml
  services/eventservice/Dockerfile
  services/eventservice/src/data_manager.rs
  services/eventservice/src/main.rs
  services/eventservice/src/pubsub_client.rs
  services/eventservice/src/tests.rs
  services/eventservice/src/types.rs
  services/eventservice/start.sh
Labels: event service

#12 Setup REST API GETAWAY project
  .gitignore
  docker-compose.yml
  services/api_service/Dockerfile
  services/api_service/api_service/__init__.py
  services/api_service/api_service/asgi.py
  services/api_service/api_service/settings.py
  services/api_service/api_service/tests.py
  services/api_service/api_service/urls.py
  services/api_service/api_service/views.py
  services/api_service/api_service/wsgi.py
  services/api_service/manage.py
  services/api_service/requirements.txt
Labels: api
